<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">
<div class = "row" id = 'home-container'>
    <section class = "col-sm-9" id = "feed-posts">
        <% if(locals.user){ %>
            <h4>Posts</h4>
            <form id = "new-post-form">
                <textarea name="content" cols="30" rows="3" placeholder="What's on your mind? <%= user.name.substr(0,user.name.indexOf(' ')) %>" required></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %> 

        <div id = "posts-list-container">
            <%- include('_post'); -%>
        </div>
    </section>

    <section class = "col-sm-3" id="user-friends">
        <% if(locals.user && friendships.length){ %>
            <div id = 'friends'>
                <h4>Friends</h4>
                <% for(friendship of friendships){ %> 
                    <% if(friendship.to_user._id.equals(user._id)) { %> 
                        <p>
                            <a href="/users/profile/<%= friendship.from_user._id %>"><%= friendship.from_user.name %></a>
                        </p>
                    <% } else { %>
                        <p>
                            <a href="/users/profile/<%= friendship.to_user._id %>"><%= friendship.to_user.name %></a>
                        </p>
                    <% } %>    
                <% } %>
            </div>
        <% } %> 
        <div id = 'users'>
            <h4>Codeial Users</h4>
            <% if(locals.user){ %>
                <% for(u of all_users){ %> 
                    <% if(u.id != user.id){ %>
                        <p>
                            <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                        </p>    
                    <% } %>
                <% } %>
            <% } else { %>
                <% for(u of all_users){ %> 
                    <p>
                        <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                    </p>  
                <% } %>
            <% } %>
        </div>
    </section>
    <% if(locals.user){ %>
        <%- include('_chat_box') -%>
    <% } %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>
<% if(locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>');
    </script>
<% } %>