<link rel="stylesheet" href="<%= assetPath('css/users.css') %>">
<img src="<%= profile_user.avatar ? profile_user.avatar : assetPath('images/default-avatar.png') %>" width = '100' alt="<%= profile_user.name %>'s Avatar" style="margin: 5px;">
<% if(locals.user && user.id == profile_user.id){ %> 
    <!-- If user matches, the show the update form -->
    <form action="/users/update/<%= user.id %>" enctype="multipart/form-data" method="post" id = "uploadForm">
        <input type="text" name="name" placeholder="Your Name" value="<%= user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= user.email %>" required>
        <input type="file" name="avatar" id = "file" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>
<% } else { %> 
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
    <div id = friend-toggle-button>
        <% if(locals.user && isFriend){ %>
            <a class = 'remove' href="/users/friendship/remove/?from_user=<%= from_user %>&to_user=<%= to_user %>"><button>Unfriend</button></a>
        <% } else { %>
            <a class = 'add' href="/users/friendship/add/?to_user=<%= profile_user._id %>"><button>Add Friend</button></a>
        <% } %>
    </div>
<% } %>
<script src="<%= assetPath('js/users.js') %>"></script>